<div class="auth-main">
    <div class="auth-wrapper v1">
        <form class="auth-form" method="post" action="/login"> 
            <div class="card my-5">
                <div class="card-body">
                    <div class="text-center"> <a href="https://enverson.com/en" class="w-100 h-100 text-center"><img
                                class="w-50 h-100" src="https://enverson.com/uploads/settings/1721570804.png"
                                alt="Enverson Inc"></a>
                        <!-- <div class="d-grid my-3"> <a type="button"
                                class="btn mt-2 btn-light-primary bg-light text-muted"
                                href="https://enverson.com/social_redirect?driver=facebook"> <img
                                    src="../assets/images/authentication/facebook.svg" alt="img"> <span> Sign In with
                                    Facebook</span> </a> <a type="button"
                                class="btn mt-2 btn-light-primary bg-light text-muted"
                                href="https://enverson.com/social_redirect?driver=google"> <img
                                    src="../assets/images/authentication/google.svg" alt="img"> <span> Sign In with
                                    Google</span> </a> </div> -->
                    </div>
                    <!-- <div class="saprator my-3"> <span>or</span> </div> -->
                    <!-- <h4 class="text-center f-w-500 mb-3">Log in with e-mail</h4> -->
                    <div class="form-group mb-3 mt-3"> <input type="email" class="form-control" id="floatingInput"
                            name="email" placeholder="E-mail"> </div>
                    <div class="form-group mb-3"> <input type="password" class="form-control" id="floatingInput1"
                            name="password" placeholder="Password"> </div>
                    <div class="d-flex mt-1 justify-content-between align-items-center">
                        <div class="form-check"> <input class="form-check-input input-primary" type="checkbox"
                                id="customCheckc1" checked=""> <label class="form-check-label text-muted"
                                for="customCheckc1">Remember me?</label> </div>
                        
                    </div>
                    <div class="d-grid mt-4"> <button type="submit" class="btn btn-primary">Login</button> </div>
                    <div class="d-flex justify-content-between align-items-end mt-4">
                        <h6 class="f-w-500 mb-0">Don't have and account?</h6> <a href="/register"
                            class="link-primary">Register</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
